/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/* containers */
/*container 1*/
.container1{
    width: 100vw;
    display: flex;
 
}
.container1-block{
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

/* holders */
/* holder1 */
.holder1{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
}
.holder1-block1{
    display: flex;
    margin: 0 auto;
}
.holder1-block2{
    display: flex;
    margin: 0 auto;
}


/* blocks */
/* block1 */
.black-box{
    width: 50px;
    height: 100px;
    background: black;
    display: flex;
}