/* Blocks */



/* Blank Blocks */
/* Block1 */
.block1{
    width: 10vw;
    height: 10vh;
    margin: 0 auto;
    background: black;
}
/* Block 2 */
.block2{
    width: 100px;
    height: 100px;
    background: black;
    margin: 0 auto;
}

/*  */

/* Heading test 1 */
.headingTest1{
    font-weight: 900;
    font-size: 72px;
    margin: 40px auto;
    font-variant: small-caps;
    text-shadow: 1px;
}

/* Heading test 1 */
.headingTest2{
    font-weight: 600;
    font-size: 50px;
    margin: 40px auto;
    font-variant: small-caps;
}


/* Navbar Test */
.navbarTest1{
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.navbarTest1-navbar{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Start of Real Section */
/* Start of Heading Section */
/* Start of Main Headings */
/* Start of Main Heading 1 Styles */
.mainHeading1{
    width: inherit;
    font-family: sans-serif;
    font-size: 6.854em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Main Heading 1 Styles */
/* Start of Main Heading 2 Styles */
.mainHeading2{
    width: inherit;
    font-family: serif;
    font-size: 6.854em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Main Heading 2 Styles */
/* Start of Main Heading 3 Styles */
.mainHeading3{
    width: inherit;
    font-family: fantasy;
    font-size: 6.854em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Main Heading 3 Styles */
/* Start of Main Heading 4 Styles */
.mainHeading4{
    width: inherit;
    font-size: 6.854em;
    font-family: cursive;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Main Heading 4 Styles */
/* Start of Main Heading 5 Styles */
.mainHeading5{
    width: inherit;
    font-size: 6.854em;
    font-family: monospace;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Main Heading 5 Styles */
/* End of Main Headings */
/* Start of Headings */
/* Start of Heading 1 Styles */
.heading1{
    width: inherit;
    font-family: sans-serif;
    font-size: 4.236em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Heading 1 Styles */
/* Start of Heading 2 Styles */
.heading2{
    width: inherit;
    font-family: serif;
    font-size: 4.236em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Heading 2 Styles */
/* Start of Heading 3 Styles */
.heading3{
    width: inherit;
    font-family: fantasy;
    font-size: 4.236em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Heading 3 Styles */
/* Start of Heading 4 Styles */
.heading4{
    width: inherit;
    font-family: cursive;
    font-size: 4.236em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Heading 4 Styles */
/* Start of Heading 5 Styles */
.heading5{
    width: inherit;
    font-family: monospace;
    font-size: 4.236em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* End of Heading 5 Styles */
/* End of Headings */
/* Start of SubHeadings Styles */
/* Start of SubHeading 1 Styles */
.subHeading1{
    width:inherit;
    font-family: sans-serif;
    color: lightgray;
    font-size: 2.618em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of SubHeading 1 Styles */
/* Start of SubHeading 2 Styles */
.subHeading2{
    width:inherit;
    font-family: serif;
    color: lightgray;
    font-size: 2.618em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subHeading2 a{
    text-decoration: none;
    color: lightgray;
}
.subHeading2 a:hover{
    text-shadow: 1px 1px 3px black;
}
/* End of SubHeading 2 Styles */
/* Start of SubHeading 3 Styles */
.subHeading3{
    width:inherit;
    font-family: fantasy;
    color: lightgray;
    font-size: 2.618em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of SubHeading 3 Styles */
/* Start of SubHeading 4 Styles */
.subHeading4{
    width:inherit;

    color: lightgray;
    font-family: cursive;
    font-size: 2.618em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of SubHeading 4 Styles */
/* Start of SubHeading 5 Styles */
.subHeading5{
    width:inherit;
    color: lightgray;
    font-family: monospace;
    font-size: 2.618em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of SubHeading 5 Styles */
/* End of SubHeadings Styles */
/* Start of Secondary SubHeading Styles */
/* Start of Secondary SubHeading 1 */
.secondarySubHeading1{
    width: inherit;
    font-family: sans-serif;
    font-size: 1.618em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Secondary SubHeading 1 */
/* Start of Secondary SubHeading 2 */
.secondarySubHeading2{
    width: inherit;
    font-family: serif;
    font-size: 1.618em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Secondary SubHeading 2 */
/* Start of Secondary SubHeading 3 */
.secondarySubHeading3{
    width: inherit;
    font-family: fantasy;
    font-size: 1.618em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Secondary SubHeading 3 */
/* Start of Secondary SubHeading 4 */
.secondarySubHeading4{
    width: inherit;
    font-family: cursive;
    font-size: 1.618em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Secondary SubHeading 4 */
/* Start of Secondary SubHeading 5 */
.secondarySubHeading5{
    width: inherit;
    font-family: monospace;
    font-size: 1.618em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Secondary SubHeading 5 */
/* End of Secondary Styles */
/* Start of NavBar Styles */
/* Start of NavBar Styles */
/* Start of NavBar 1 */
.navbar1{
    width:inherit;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar1-navbar{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar1-navbar a{
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 1.333em;
}
.navbar1-navbar a:hover{
    color: yellow;
    text-shadow: 1px 1px 3px black;
}
/* End of NavBar 1 */
/* Start of NavBar 2 */
.navbar2{
    width:inherit;
    height: 100px;
    display: flex;
}
.navbar2-navbar{
    width: inherit;
    height: 100px;
    display: flex;
    margin: 0 10px;
}
.navbar2-navbar a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 1.333em;
}
.navbar2-navbar a:hover{
    color: yellow;
    text-shadow: 1px 1px 3px black;
}
/* End of NavBar 2 */
/* Start of NavBar 3 */
.navbar3{
    width:inherit;
    height: 100px;
    display: flex;
}
.navbar3-navbar{
    width: inherit;
    height: 100px;
    display: flex;
    margin: 0 10px;
    justify-content: flex-end; 
}
.navbar3-navbar a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 1.333em;
}
.navbar3-navbar a:hover{
    color: yellow;
    text-shadow: 1px 1px 3px black;
}
/* End of NavBar 3 */
/* Start of NavBar 4 */
.navbar4{
    width: inherit;
}
.navbar4-navbar{
    width: inherit;
}
/* End of NavBar 4 */
/* Start of NavBar 5 */
.navbar5{
    width: inherit;
}
.navbar5-navbar{
    width: inherit;
}
/* End of NavBar 5 */
/* End of NavBar Styles */
/* Start of SubNavBar Styles */
/* Start of SubNavBar 1 */
.subnavbar1{
    width: inherit;
}
.subnavbar1-navbar{
    width: inherit;
}
/* End of SubNavBar 1 */
/* Start of SubNavBar 2 */
.subnavbar2{
    width: inherit;
}
.subnavbar2-navbar{
    width: inherit;
}
/* End of SubNavBar 2 */
/* Start of SubNavBar 3 */
.subnavbar3{
    width: inherit;
}
.subnavbar3-navbar{
    width: inherit;
}
/* End of SubNavBar 3 */
/* Start of SubNavBar 4 */
.subnavbar4{
    width: inherit;
}
.subnavbar4-navbar{
    width: inherit;
}
/* End of SubNavBar 4 */
/* Start of SubNavBar 5 */
.subnavbar5{
    width: inherit;
}
.subnavbar5-navbar{
    width: inherit;
}
/* End of SubNavBar 5 */
/* End of SubNavBar Styles */
/* Start of Paragraph Styles */
/* Start of Basic Paragraph Styles */
/* Start of Type 1 Paragraph Styles */
/* Start of paragraph 1 */
.paragraph1{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: sans-serif;
    font-size: 1.333em;
}
/* End of paragraph 1 */
/* Start of paragraph 2 */
.paragraph2{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.22em;
    font-family: sans-serif;
    font-size: 0.9 em;
}
/* End of paragraph 2 */
/* Start of paragraph 3 */
.paragraph3{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: sans-serif;
    font-size: 1.6em;
}
/* End of paragraph 3 */
/* Start of paragraph 4 */
.paragraph4{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: sans-serif;
    color: lightgray;
    font-size: 1.6em;
}
/* End of paragraph 4 */
/* Start of paragraph 5 */
.paragraph5{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: sans-serif;
    font-size: 1.333em;
}
/* End of paragraph 5 */
/* End of Type 1 Paragraph Styles */
/* Start of Type 2 Paragraph Styles */
/* Start of paragraph 6 */
.paragraph6{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: serif;
    font-size: 1.333em;
}
/* End of paragraph 6 */
/* Start of paragraph 7 */
.paragraph7{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.22em;
    font-family: serif;
    font-size: 0.9em;
}
/* End of paragraph 7 */
/* Start of paragraph 8 */
.paragraph8{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: serif;
    font-size: 1.6em;
}
/* End of paragraph 8 */
/* Start of paragraph 9 */
.paragraph9{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: serif;
    color: lightgray;
    font-size: 1.6em;
}
/* End of paragraph 9 */
/* Start of paragraph 10 */
.paragraph10{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: serif;
    font-size: 1.333em;
}
/* End of paragraph 10 */
/* End of Type 2 Paragraph Styles */
/* Start of Type 3 Paragraph Styles */
/* Start of paragraph 11 */
.paragraph11{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: cursive;
    font-size: 1.333em;
}
/* End of paragraph 11 */
/* Start of paragraph 12 */
.paragraph12{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.22em;
    font-family: cursive;
    font-size: 0.9em;
}
/* End of paragraph 12 */
/* Start of paragraph 13 */
.paragraph13{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: cursive;
    font-size: 1.6em;
}
/* End of paragraph 13 */
/* Start of paragraph 14 */
.paragraph14{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: cursive;
    color: lightgray;
    font-size: 1.6em;
}
/* End of paragraph 14 */
/* Start of paragraph 15 */
.paragraph15{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: cursive;
    font-size: 1.333em;
}
/* End of paragraph 15 */
/* End of Type 3 Paragraph Styles */
/* Start of Type 4 Paragraph Styles */
/* Start of paragraph 16 */
.paragraph16{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: monospace;
    font-size: 1.333em;
}
/* End of paragraph 16 */
/* Start of paragraph 17 */
.paragraph17{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.22em;
    font-family: monospace;
    font-size: 0.9em;
}
/* End of paragraph 17 */
/* Start of paragraph 18 */
.paragraph18{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: monospace;
    font-size: 1.6em;
}
/* End of paragraph 18 */
/* Start of paragraph 19 */
.paragraph19{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.8em;
    font-family: monospace;
    color: lightgray;
    font-size: 1.6em;
}
/* End of paragraph 19 */
/* Start of paragraph 20 */
.paragraph20{
    width: inherit;
    padding: 10px 10%;
    line-height: 1.5em;
    font-family: monospace;
    font-size: 1.333em;
}
/* End of paragraph 20 */
/* End of Type 4 Paragraph Styles */
/* End of Basic Paragraph Styles */
/* Start of Pull Quotes */
/* Start of Pull Quotes 1 */
.pullQuote1{
    width: inherit;
    font-family: sans-serif;
    font-size: 1.333em;
}
/* End of Pull Quotes 1 */
/* Start of Pull Quotes 2 */
.pullQuote2{
    width: inherit;
    font-family: sans-serif;
    font-size: 1.333em;
}
/* End of Pull Quotes 2 */
/* Start of Pull Quotes 3 */
.pullQuote3{
    width: inherit;
    font-family: serif;
    font-size: 1.333em;
}
/* End of Pull Quotes 3 */
/* Start of Pull Quotes 4 */
.pullQuote4{
    width: inherit;
    font-family: serif;
    font-size: 1.333em;
}
/* End of Pull Quotes 4 */
/* Start of Pull Quotes 5 */
.pullQuote5{
    width: inherit;
    font-family: cursive;
    font-size: 1.333em;
}
/* End of Pull Quotes 5 */
/* Start of Pull Quotes 6 */
.pullQuote6{
    width: inherit;
    font-family: cursive;
    font-size: 1.333em;
}
/* End of Pull Quotes 6 */
/* Start of Pull Quotes 7 */
.pullQuote7{
    width: inherit;
    font-family: monospace;
    font-size: 1.333em;
}
/* End of Pull Quotes 7 */
/* Start of Pull Quotes 8 */
.pullQuote8{
    width: inherit;
    font-family: monospace;
    font-size: 1.333em;
}
/* End of Pull Quotes 8 */
/* End of Pull Quotes */
/* End of Paragraph Styles */
/* Start of Image Styles */
/* Start of nonrectangle Image Sizes */
.img-exsm{
    width: 50px;
    height: 50px;
}
.img-sm{
    width: 150px;
    height: 150px;
}
.img-md{
    width: 300px;
    height: 300px;
}
.img-lg{
    width: 500px;
    height: 500px;
}
.img-exlg{
    width: 700px;
    height: 700px;
}

/* End of Image Sizes */
/* Start of Circle Images Styles */
.circleImage{
    border-radius: 100%;
    display: flex;
    margin: 0 auto;
}

/* End of Circle Images Styles */
/* Start of Rounded Images Styles */
.roundedImage{
    border-radius: 30%;
    display: flex;
    margin: 0 auto;
}

/* End of Rounded Images Styles */
/* Start of Square Images Styles */
.squareImage{
    display: flex;
    margin: 0 auto;
}

/* End of Square Images Styles */
/* Start of Rectangle Image Sizes */
/* Width * 1.618 ish */
.recimg-exsm{
    width: 81px;
    height: 50px;
}
.recimg-sm{
    width: 243px;
    height: 150px;
}
.recimg-md{
    width: 485px;
    height: 300px;
}
.recimg-lg{
    width: 809px;
    height: 500px;
}
.recimg-exlg{
    width: 1137px;
    height: 700px;
}
/* End of Rectangle Image Sizes
/* Start of Rectangle Image Styles */
/* Start of Rounded Rectnagle Image Styles */
.roundedRectangleImage{
    border-radius: 30%;
    display: flex;
    margin: 0 auto;
}
/* End of Rounded Rectangle Image Styles */
/* Start of RegularRectangle Image Styles */
.rectangleImage{
    display: flex;
    margin: 0 auto;
}
/* End of RegularRectangle Image Styles */
/* End of Rectangle Image Sizes */
/* End of Image Styles */
/* Start of ButtonStyles */
/* Start of Flat Button Styles */
.flatButton1{
    width: inherit;
}
.flatButton2{
    width: inherit;
}
/* End of Flat Button Styles */
/* Start of Raised Button Styles */
.raisedButton1{
    width: inherit;
}
.raisedButton2{
    width: inherit;
}
/* End of Raised Button Styles */
/* Start of Floating Button Styles */
.floatingButton1{
    width: inherit;
}
.floatingButton2{
    width: inherit;
}
/* End of Floating Button Styles */
/* End of Button Block Styles */