/* Blocks */



/* Blank Blocks */
/* Block1 */

/* Block 2 */
.block2{
    width: 100px;
    height: 100px;
    background: black;
    margin: 0 auto;
}

/*  */

/* Heading test 1 */
.headingTest1{
    font-weight: 900;
    font-size: 72px;
    margin: 40px auto;
    font-variant: small-caps;
    text-shadow: 1px;
}

/* Heading test 1 */
.headingTest2{
    font-weight: 600;
    font-size: 50px;
    margin: 40px auto;
    font-variant: small-caps;
}


/* Navbar Test */
.navbarTest1{
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.navbarTest1-navbar{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Start of Real Section */
/* Start of Heading Section */
/* Start of Main Headings */
/* Start of Main Heading 1 Styles */
.mainHeading1{
    width: inherit;
}
/* End of Main Heading 1 Styles */
/* Start of Main Heading 2 Styles */
.mainHeading2{
    width: inherit;
}
/* End of Main Heading 2 Styles */
/* Start of Main Heading 3 Styles */
.mainHeading3{
    width: inherit;
}
/* End of Main Heading 3 Styles */
/* Start of Main Heading 4 Styles */
.mainHeading4{
    width: inherit;
}
/* End of Main Heading 4 Styles */
/* Start of Main Heading 5 Styles */
.mainHeading5{
    width: inherit;
}
/* End of Main Heading 5 Styles */
/* End of Main Headings */
/* Start of Headings */
/* Start of Heading 1 Styles */
.heading1{
    width: inherit;
}
/* End of Heading 1 Styles */
/* Start of Heading 2 Styles */
.heading2{
    width: inherit;
}
/* End of Heading 2 Styles */
/* Start of Heading 3 Styles */
.heading3{
    width: inherit;
}
/* End of Heading 3 Styles */
/* Start of Heading 4 Styles */
.heading4{
    width: inherit;
}
/* End of Heading 4 Styles */
/* Start of Heading 5 Styles */
.heading5{
    width: inherit;
}
/* End of Heading 5 Styles */
/* End of Headings */
/* Start of SubHeadings Styles */
/* Start of SubHeading 1 Styles */
.subHeading1{
    width:inherit;
}
/* End of SubHeading 1 Styles */
/* Start of SubHeading 2 Styles */
.subHeading2{
    width:inherit;
}
/* End of SubHeading 2 Styles */
/* Start of SubHeading 3 Styles */
.subHeading3{
    width:inherit;
}
/* End of SubHeading 3 Styles */
/* Start of SubHeading 4 Styles */
.subHeading4{
    width:inherit;
}
/* End of SubHeading 4 Styles */
/* Start of SubHeading 5 Styles */
.subHeading5{
    width:inherit;
}
/* End of SubHeading 5 Styles */
/* End of SubHeadings Styles */