/* Start of Styled Container Styles */

/* Start of Styled Headers */
/* Start of Stylux Styled Header 1 */
.StyluxStyledHeader1{
    width: 100%;
    background:slategray;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* End of Stylux Header 1 */
/* Start of Stylux Styled Header 2 */
.StyluxStyledHeader2{
    width: 100%;
    background: slategray;
    display: flex;
}

/* End of Stylux Header 2 */
/* Start of Stylux Styled Header 3 */
.StyluxStyledHeader3{
    width: 100%;
    background: slategray;
}

/* End of Stylux Header 3 */
/* Start of Stylux Styled Header 4 */
.StyluxStyledHeader4{
    width: 100%;
    background: slategray;
}

/* End of Stylux Header 4 */
/* Start of Stylux Styled Header 5 */
.StyluxStyledHeader5{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    background: slategray;

}

/* End of Stylux Header 5 */
/* End of Stylux Styled Headers */
/* Start of Styled Footers */
/* Start of Stylux Footer 1 */
.StyluxStyledFooter1{
    width: 100%;
    background: slategray;
    padding: 0 10% 0 15%;
}

/* End of Stylux Footer 1 */
/* Start of Stylux Footer 2 */
.StyluxStyledFooter2{
    width: 100%;
    background: slategray;
    padding: 0 10% 0 15%;
}

/* End of Stylux Footer 2 */
/* Start of Stylux Footer 3 */
.StyluxStyledFooter3{
    width: 100%;
    background: slategray;
    padding: 0 10% 0 15%;
}

/* End of Stylux Footer 3 */
/* Start of Stylux Footer 4 */
.StyluxStyledFooter4{
    width: 100%;
    background: slategray;
    padding: 0 10% 0 15%;
}

/* End of Stylux Footer 4 */
/* Start of Stylux Footer 5 */
.StyluxStyledFooter5{
    width: 100%;
    height: 100px;
    background: black;
}

/* End of Stylux Footer 5 */
/* End of Stylux Styled Footers */